.header {
  background-image: url(/images/copy.png);
  height: 75vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
  background-attachment: fixed;
}

.header__overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 75vh;
  width: 100%;
  position: absolute;
  content: "";
  z-index: 1;
}

.header__links {
  display: flex;
  gap: 35px;
  justify-content: center;
  z-index: 2;
}

.header__link {
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  z-index: 2;
  font-weight: 500;
  position: relative;
}

.header__link:after {
  content: "";
  position: absolute;
  background-color: #fff;
  height: 3px;
  left: 0;
  bottom: -6px;
  transition: 0.3s ease-in-out;
  width: 0;
}

.header__link:hover {
  color: #d6d0d0;
}

.header__link:hover:after {
  width: 100%;
}

.header__button {
  color: #fff;
  margin-top: 18px;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  font-weight: 600;
  background: none;
  border: 2px solid #fff;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.header__button:hover {
  color: rgb(47, 78, 163);
}

.header__button::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #fff;
  z-index: -1;
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.header__button:hover::before {
  height: 180%;
}

.header__logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  width: 450px;
}

@media screen and (max-width: 740px) {
  .header__link {
    font-size: 16px;
  }
  .header__button {
    font-size: 16px;
  }
}
