.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 17px;
}

.nav__image {
  margin: 8px 0;
  width: 150px;
}

.nav__links {
  display: flex;
  gap: 50px;
}

.nav__link {
  align-self: center;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: rgb(47, 78, 163);
  font-weight: 700;
}

.nav__link-quote {
  font-weight: 600;
  color: #fff;
  background-color: rgb(47, 78, 163);
  border-radius: 4px;
  padding: 5px;
}

.nav__link-quote:hover {
  background-color: rgb(173, 54, 54);
  font-weight: 700;
  color: #fff;
}
