.reputation {
  margin-top: 50px;
}

.reputation__title {
  text-align: center;
  font-size: 40px;
  margin: 0 0 35px;
}

.reputation__cards {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin: auto;
}

.reputation__card {
  border: solid 1px rgb(160, 155, 155);
  border-radius: 3px;
  max-width: 400px;
  padding: 20px;
  margin: auto;
}

.reputation__card-image {
  width: 35px;
}

.reputation__card-title {
  font-size: 20px;
}

.reputation__card-paragraph {
  color: rgb(160, 155, 155);
}
