.services {
  background-color: #f0ebeb;
  padding-bottom: 100px;
}

.services__title {
  text-align: center;
  font-size: 45px;
  padding-top: 30px;
}

.services__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  gap: 80px;
  row-gap: 50px;
  justify-content: center;
}

.services__card {
  width: 350px;
  background-color: #fff;
  height: 200px;
  color: rgb(47, 78, 163);
}

.services__card:nth-child(even) {
  background-color: rgb(47, 78, 163);
  color: #fff;
}

.services__image {
  width: 60px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 25px;
}

.services__line {
  width: 60px;
  height: 2px;
  margin: 20px auto 0;
}

.services__card:nth-of-type(even) .services__line {
  background-color: #fff;
}
.services__card:nth-of-type(odd) .services__line {
  background-color: rgb(47, 78, 163);
}

.services__subtitle {
  text-align: center;
}

@media (min-width: 895px) and (max-width: 1324px) {
  .services__card:nth-child(1),
  .services__card:nth-child(4),
  .services__card:nth-child(5) {
    background-color: #fff;
    color: rgb(47, 78, 163);
  }

  .services__card:nth-child(2),
  .services__card:nth-child(3),
  .services__card:nth-child(6) {
    background-color: rgb(47, 78, 163);
    color: #fff;
  }

  .services__card:nth-of-type(1) .services__line,
  .services__card:nth-of-type(4) .services__line,
  .services__card:nth-of-type(5) .services__line {
    background-color: rgb(47, 78, 163);
  }

  .services__card:nth-of-type(2) .services__line,
  .services__card:nth-of-type(3) .services__line,
  .services__card:nth-of-type(6) .services__line {
    background-color: #fff;
  }
}
